package __DOMAIN__

import (
	"net/http"

	"github.com/go-chi/chi/v5"
	domain__DOMAIN__ "github.com/tokenjoy/backend/internal/domain/__DOMAIN__"
	httpdeps "github.com/tokenjoy/backend/internal/http/deps"
	"github.com/tokenjoy/backend/internal/http/handler/shared"
	httpmiddleware "github.com/tokenjoy/backend/internal/http/middleware"
	"github.com/tokenjoy/backend/internal/infra/permission"
)

type Handler struct {
	shared.ProtectedHandlerBase
	service domain__DOMAIN__.Service
}

func NewHandler(p httpdeps.Protected, service domain__DOMAIN__.Service) *Handler {
	return &Handler{
		ProtectedHandlerBase: shared.NewProtectedHandlerBase(p),
		service:            service,
	}
}

func (h *Handler) RegisterRoutes(r chi.Router) {
	read := httpmiddleware.ReadRoutes(r, h.Protected, permission.__DOMAIN_TITLE__Read)
	read.Get("/", h.List)

	write := httpmiddleware.ReadRoutes(r, h.Protected)
	write.With(httpmiddleware.RequireAnyPermission(permission.__DOMAIN_TITLE__Read)).Post("/", h.Create)
}

func (h *Handler) List(w http.ResponseWriter, r *http.Request) {
	// TODO: implement
}

func (h *Handler) Create(w http.ResponseWriter, r *http.Request) {
	// TODO: implement
}
