// Add to domainServices in internal/app/wiring_domain.go:
//   __DOMAIN_TITLE__ domain__DOMAIN__.Service

// Add to buildDomainServices return:
//   __DOMAIN_TITLE__: domain__DOMAIN__.NewService(cfg, i.store),

// Add to ServiceRegistry in internal/app/registry.go:
//   __DOMAIN_TITLE__ domain__DOMAIN__.Service
// (and wire in buildServiceRegistry + HTTPDeps)
